<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bitcode.intentfilters">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentFilters">

       <!-- <activity android:name=".YourImageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="in.bitcode.media.VIEW"/>
                <action android:name="in.bitcode.media.SHOW"/>
                <action android:name="in.bitcode.media.DISPLAY"/>
                <category android:name="in.bitcode.category.TECH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>-->

        <activity android:name=".MyImageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="in.bitcode.media.VIEW"/>
                <action android:name="in.bitcode.media.SHOW"/>
                <action android:name="in.bitcode.media.DISPLAY"/>
                <category android:name="in.bitcode.category.TECH"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file" android:mimeType="image/jpeg"/>
                <data android:scheme="file" android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>